In [2]:
import pandas as pd

In [38]:
actuator_positions = pd.read_csv('23.07FirstTake.csv')
actuator_positions = actuator_positions.iloc[50:]
actuator_positions.head()

      A0    A1   A2    A5    A6    A7
50  3.31  2.01  0.0  1.94  1.58  1.65
51  3.39  2.23  0.0  2.09  1.73  1.80
52  3.46  2.16  0.0  2.09  1.80  1.87
53  3.67  2.30  0.0  2.23  1.87  1.94
54  3.82  2.30  0.0  2.16  1.87  1.94

In [39]:
xyz_coordinates = pd.read_csv("optitrack_data_lr_tr.csv")
xyz_coordinates = xyz_coordinates[5:]
xyz_coordinates = xyz_coordinates.reset_index(drop=True)
xyz_coordinates = xyz_coordinates[['1.1', 'Take Name', "Take 2024-07-23 01.09.45 PM"]]
xyz_coordinates.columns = ['X', 'Y', 'Z']
xyz_coordinates.head()

          X          Y         Z
0  0.000000  -0.759297  0.419074
1  0.019608  -0.759268  0.419061
2  0.039216  -0.759229  0.418935
3  0.058824  -0.759205  0.418863
4  0.078431  -0.759236  0.418859

In [40]:
print(actuator_positions.info())
print(xyz_coordinates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17851 entries, 50 to 17900
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A0      17851 non-null  float64
 1   A1      17851 non-null  float64
 2   A2      17851 non-null  float64
 3   A5      17851 non-null  float64
 4   A6      17851 non-null  float64
 5   A7      17851 non-null  float64
dtypes: float64(6)
memory usage: 836.9 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52975 entries, 0 to 52974
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       52975 non-null  object
 1   Y       32123 non-null  object
 2   Z       32123 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB
None

Actuator positions - 17901
XYZ coordinates - 52975

In [45]:
d = {"X": [],  "Y": [], "Z": [], "A0": [], "A1": [], "A2": [], "A5": [], "A6": [], "A7": []}
dataset = pd.DataFrame(data=d)
dataset

Empty DataFrame
Columns: [X, Y, Z, A0, A1, A2, A5, A6, A7]
Index: []

In [46]:
counter = 0

for i in range(0, len(actuator_positions)):

    if i < len(actuator_positions) - 1 and i * 3 < len(xyz_coordinates):

        xyz = xyz_coordinates.iloc[counter][['X', 'Y', 'Z']].values
        act = actuator_positions.iloc[i][['A0', 'A1', 'A2', 'A5', 'A6', 'A7']].values

        data = {"X": xyz[0],  "Y": xyz[1], "Z": xyz[2], "A0": act[0], "A1": act[1], "A2": act[2], "A5": act[3], "A6": act[4], "A7": act[5]}
        df_new_rows = pd.DataFrame(data=data, index=[i])
        dataset = pd.concat([dataset, df_new_rows])
    else: 
        break
    counter += 3


dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17659 entries, 0 to 17658
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       17659 non-null  object
 1   Y       10708 non-null  object
 2   Z       10708 non-null  object
 3   A0      17659 non-null  float64
 4   A1      17659 non-null  float64
 5   A2      17659 non-null  float64
 6   A5      17659 non-null  float64
 7   A6      17659 non-null  float64
 8   A7      17659 non-null  float64
dtypes: float64(6), object(3)
memory usage: 1.3+ MB

In [47]:
dataset.head()

          X          Y         Z    A0    A1   A2    A5    A6    A7
0  0.000000  -0.759297  0.419074  3.31  2.01  0.0  1.94  1.58  1.65
1  0.058824  -0.759205  0.418863  3.39  2.23  0.0  2.09  1.73  1.80
2  0.117647  -0.759242  0.419042  3.46  2.16  0.0  2.09  1.80  1.87
3  0.176471  -0.759302  0.419248  3.67  2.30  0.0  2.23  1.87  1.94
4  0.235294  -0.759177  0.418970  3.82  2.30  0.0  2.16  1.87  1.94

In [ ]:
dataset.dropna(inplace=True)

In [48]:
dataset.to_csv("dataset.csv", index=False)